.book-preview .sale {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgb(237, 94, 149);
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.book-preview .title {
    color: var(--clr1);
    height: 40px;
}

.book-preview .categories {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 0;
}

.book-preview .categories span {
    display: block;
    width: max-content;
    padding: 0.5rem;
    background-color: var(--gray1);
    border-radius: 0.5rem;
    margin-inline-end: 1rem;
    margin-block-end: 1rem;
}

.book-preview img {
    display: block;
    margin-block: 2rem;
}

.book-preview button:first-of-type {
    margin-inline-start: 0;
}